header{
    background-color:rgb(0, 184, 0);
    border-radius: 5px;
    color: #fff;
    

}
main{
    background-color: rgb(253, 222, 144);
    border-radius: 5px;
    


}
footer{

       background-color: rgb(255,255,255);
       border-radius: 5px;


}

 

body{

    background-image: url(caminhao.jpg);
    background-size: cover;
}
button{

    background-color: rgb(0, 255,0);
    border-radius: 5px;
    border: solid transparent;
}
#nome{

    border-radius: 5px;
    
}
#email{

    border-radius: 5px;
    
}