*{
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
}
a:visited {
    color: red;
    text-decoration: underline;
    
}
a:active{
    color: blue;
}

a:hover{
    color: black;
}

.especial::after{
    content: '☚';
    margin-left: 1rem; 
}

a::before{
    content: '';
}

    
