*{
    margin: 0%;
    padding: 0%;
}
  h1{margin-top: 32px;
        margin-bottom: 32px;}
li{ 
    background-color:  #111;
    color: #fff;
    margin-left: 32px;
    margin-top: 32px;
    height: 250px;
    width: 400px;
    padding: 4px;
    display: inline-block;
    border-radius: 4px;
    border:  transparent 3px solid;
    cursor: pointer;
    
}
.selected{ background-color: #333;
    border-color: aqua;
    
}
.hiden{display: none;
    
}